@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

li {
  @apply cursor-pointer hover:text-[#FE6A16];
}

.wrapper-items-navbar {
  @apply flex items-center gap-2 cursor-pointer;
}

.menu-item {
  @apply w-full px-4 cursor-pointer hover:bg-[#FE6A16] hover:text-white;
}

.link {
  display: inline-block;
}

.fixed-navbar {
  @apply fixed top-0 z-50 mb-12;
}

.sticky {
  height: max-content;
  max-height: 1000px;
  position: sticky;
  top: 80px;
  padding-top: 80px;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}
